*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

html {
    font-size: 62.5%;
}

body {
    min-width: 375px;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    background-color: var(--main-background);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 40px 0;
    width: 330px;
    height: 100%;
    background-color: var(--card-background);
    border-radius: 10px;
    overflow: hidden;

    &__img {
        height: 250px;
        background-image: url("../images/image-header-mobile.jpg");
        background-position: center;
        background-size: cover;
    }

    &__bg {
        width: 100%;
        height: 100%;
        background-color: hsl(277, 100%, 25%, 55%);
    }

    &__text {
        margin: 30px 25px;
        text-align: center;
    }

    &__title {
        line-height: 1.15;
        color: var(--main-heading);
    }

    &__accent {
        color: var(--accent);
    }

    &__description {
        margin-top: 20px;
        font-family: "Lexend Deca", sans-serif;
        line-height: 1.7;
        color: var(--main-paragraph);
    }

    &__achievements {
        text-align: center;
    }

    &__companies,
    &__templates,
    &__queries {
        margin-bottom: 30px;
    }

    &__quantity {
        margin-bottom: 7px;
        font-size: 1.7em;
        font-weight: bold;
        color: var(--main-heading);
    }

    &__type {
        font-family: "Lexend Deca", sans-serif;
        color: var(--stat-headings);
        text-transform: uppercase;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: whitesmoke;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card {
        display: flex;
        flex-direction: row-reverse;
        width: 1100px;
        height: 446px;

        &__img {
            width: 600px;
            height: 100%;
            background-image: url("../images/image-header-desktop.jpg");
        }

        &__box {
            display: flex;
            flex-direction: column;
            margin: 40px 45px;
            width: 560px;
        }

        &__text {
            text-align: left;
        }

        &__title {
            font-size: 2.4em;
            line-height: 1.2;
        }

        &__description {
            margin-top: 30px;
            margin-right: 70px;
        }

        &__achievements {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            margin-left: 30px;
            width: 350px;
            text-align: left;
        }

        &__quantity {
            font-size: 1.5em;
        }

        &__type {
            font-size: 0.8em;
        }
    }

    .attribution {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
